* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.galeria {
    padding: 16px;
    
}
.imagen-principal {
    width: 100%;
    
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagen-principal img {
   width: 75vw;
   max-height: 70vh;
   object-fit: contain;
  
    

}

.lista-imagenes img {
    display: block;
    object-fit: cover;
    opacity: 50%;
    transition: .3s;
    filter: grayscale(50%);
    width: 100px;
    height: 100px;
    
}

.lista-imagenes img:hover {
    opacity: 100%;
    margin-top: -5px;
    filter: grayscale(0%);
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    cursor: pointer;
}

.lista-imagenes img:active {
    transform: scale(.8);
}

.lista-imagenes {
    display: flex;
    overflow-y: auto;
    margin-top: 10px;
    padding-left: 0;
}